*{
    margin: 0px;
    padding: 0px;
   
}
body{
    
    background-image: url("/IMAGES/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: default;

   
}
.logo img{
    border-radius: 50%;
    background-color:#a0f8f8;
    box-shadow: 0px 0px 15px #00FFFF;
    border: 3px solid #00FFFF;
}
#front h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-top: 5px;
    padding-left: 10px;
    color: black;
    -webkit-text-stroke: 2px #00FFFF;
    text-shadow: 0px 0px 10px #00FFFF;
}
#front{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
.Input1{
    color: white;
    font-size: 15px;
    height: 23px;
    width: 330px;
    padding-left: 13px;
    padding-bottom: 13px;
    padding-top: 13px;
    border: 2px solid  #00FFFF;
border-radius: 25px;
    background-color:transparent;
    backdrop-filter:blur(15px);
    outline: none;
    box-shadow:0px 0px 8px #00FFFF;
}
.Input2{
    color: white;
    font-size: 15px;
    height: 23px;
    width: 330px;
    padding-left: 13px;
    padding-bottom: 13px;
    padding-top: 13px;
    border: 2px solid  #00FFFF;
border-radius: 25px;
background-color: transparent;
backdrop-filter:blur(15px);
    outline: none;
    margin-top: 20px;
    box-shadow:0px 0px 8px #00FFFF;
}
::placeholder{
    font-size: 15px;
    color: #00FFFF;
    

}
#error{
    color:#FF0000;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    padding-top: 10px;

}
#confirm1{
        color:#FF0000;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        padding-top: 5px;
}
#pass1{
    color:#FF0000;
    font-size: 10px;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
.btn button{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border: 2px solid #FF00CC;
    border-radius: 25px;
    background-color: black;
    color: #FF00CC;
    font-size: 18px;
    font-weight: 550;
    box-shadow:0px 0px 10px #FF00CC;
    text-align: center;
    cursor: pointer;

}
.btn button:hover{
    color: black;
    background-color: #FF00CC;
    box-shadow: 0px 0px 20px #FF00CC;
}
.btn button:active{
    background-color: black;
    color:#FF00CC;
}
.border{
    margin-top: 50px;
    text-align: center;

}