*{
    margin: 0px;
    padding: 0px;
}
body{
    
    background-image: url("/IMAGES/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default; 
    background-attachment: fixed;
}
.logo img{
    border-radius: 50%;
    background-color:#a0f8f8;
    box-shadow: 0px 0px 15px #00FFFF;
    border: 3px solid #00FFFF;
}
#front h1{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    padding-top: 5px;
    padding-left: 10px;
    color: black;
    -webkit-text-stroke: 2px #00FFFF;
    text-shadow: 0px 0px 10px #00FFFF;
    
}
#front{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

::placeholder{
    font-size: 15px;
    color: #00FFFF;
    

}
.Input1{
    color: white;
    font-size: 15px;
    height: 20px;
    width: 280px;
    padding-left: 15px;
    padding-bottom: 11px;
    padding-top: 14px;
    border: 2px solid  #00FFFF;
    border-radius: 25px;
    background-color:transparent;
    outline: none;
    margin-bottom: 10px;
    margin-top: 5px;
    

}

.Input2{
    color: white;
    font-size: 15px;
    height: 23px;
    width: 280px;
    margin-top: 20px;
    padding-left: 13px;
    padding-bottom: 12px;
    padding-top: 13px;
    border: 2px solid  #00FFFF;
    border-radius: 25px;
    background-color:transparent;
    outline: none;
}


.login button{
    height: 50px;
    width: 150px;
    margin-top: 15px;
    border: 2px solid #00FFFF;
    border-radius: 25px;
    background-color: transparent;
    color: #00FFFF;
    font-size: 18px;
    font-weight: 550;
    box-shadow: 0px 0px 5px #00FFFF;
    cursor: pointer;

}
.login button:hover{
    color: black;
    background-color: #00FFFF;
    box-shadow: 0px 0px 20px #00FFFF;
}
.login button:active{
    background-color: black;
    color: #00FFFF;
}
.forgot{
    margin-top: 15px;
}
.forgot a{
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    color: #00FFFF;
}
.forgot a:hover{
    color: #FF0000;
}
.forgot a:focus{
    color: #00FFFF;
}
.para{
    font-size: 18px;
    font-family: sans-serif;
    color: #FF00CC;
    margin-top: 10px;
}
.signup button{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border: 2px solid #FF00CC;
    border-radius: 25px;
    background-color: transparent;
    color: #FF00CC;
    font-size: 18px;
    font-weight: 550;
    box-shadow: 0px 0px 5px #FF00CC;
    cursor: pointer;
}
.signup button:hover{
    color: black;
    background-color: #FF00CC;
    box-shadow: 0px 0px 20px #FF00CC;
}
.signup button:active{
    background-color: black;
    color: #FF00CC;
}
#center{
   
    height: 350px;
    width: 400px;
    padding-top: 50px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    backdrop-filter:blur(15px);
   
}
#fix{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#error{
    color:#FF0000;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;

}